@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: #0000005e;
background-image: url("https://www.transparenttextures.com/patterns/textured-paper.png");
/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
    color: white;
    /* user-select: none; */
}

/* For Webkit-based browsers (Chrome, Safari and Opera) */
.scrollbar-hide::-webkit-scrollbar {
    display: none;
}

/* For IE, Edge and Firefox */
.scrollbar-hide {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

@keyframes dustEffect {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(calc(var(--x) * 10px), calc(var(--y) * 10px));
      opacity: 0;
    }
  }
  

  @keyframes dustDisintegrate {
    0% {
      transform: translate(0, 0);
      opacity: 1;
    }
    100% {
      transform: translate(calc(var(--x) * 1px), calc(var(--y) * 1px));
      opacity: 0;
    }
  }
  